header, .blog:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #D9EAD3;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.top-banner {
  background: #231010;
  color: #D9EAD3;
  padding: 10px;
  text-align: left;
  
}


a {
  color: #231010;
}

.title {
  color: #231010;
  background: #D9EAD3;
  padding: 10px;
}

.body {
  background: #D9EAD3;
}

header {
  border-bottom: none;
}

